<div class="wrapper">
  {{> admin-sidenav return=true}}
  <div class="content-page">
    <div class="content">
      {{> admin-topnav}}

      <!-- Start Content-->
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <div class="page-title-right"></div>
              <h4 class="page-title">Return</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="col-4">
                  <button
                  class="btn btn-warning mb-3"
                  onclick="PrintElem('invoice-POS')"
                >
                  <i class="uil-print me-1"></i>
                  Print
                </button>
                </div>
                <div class="table-responsive"  id="invoice-POS">
                  <div class="info mb-2">
                    <h1
                      style="
                        font-size: 20px !important;
                        font-weight: 700 !important;
                        color: black !important;
                      "
                      class="text-center text-black"
                    >
                    AGRO
                    </h1>
                    <h3
                      style="
                        font-size: 20px !important;
                        font-weight: 700 !important;
                        color: black !important;
                      "
                      class="text-center text-black"
                    >
                    INDUSTRIAL PRODUCT AND SUPPLY MANAGEMENT SYSTEM 
                    </h3>
                    <h5
                    style="
                      font-size: 20px !important;
                      font-weight: 700 !important;
                      color: black !important;
                    "
                    class="text-center text-black"
                  >
               RETURN ITEM
                  </h5>
                    <!-- <p
                      style="
                        font-size: 12px !important;
                        font-weight: 700 !important;
                        color: black !important;
                      "
                      class="text-center text-black mb-3"
                    >
                      Purok-15 Bagontaas, Valencia City, Bukidnon
                    </p> -->
                    <p
                      style="
                        font-size: 12px !important;
                        font-weight: 700 !important;
                        color: black !important;
                      "
                      class="text-black" id="customer_info"
                    >
        
                    </p>
                  </div>
                  <table
                    class="table table-centered w-100 dt-responsive nowrap"
                    id="data-datatable"
                  >
                    <thead class="table-light">
                      <tr>
                        <th class="all">Product</th>
                        <th>Return Date</th>
                        <th>Approved Date</th>
                        <th>Note</th>
                        <th>Quantity</th>
                        <th>Approved By</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each returns}}
                      <tr>
                        <td>
                          <img
                            src="{{this.product_id.img}}"
                            alt="contact-img"
                            title="contact-img"
                            class="rounded me-3"
                            height="64"
                          />
                          <p class="m-0 d-inline-block align-middle font-16">
                            <a
                              href="apps-ecommerce-products-details.html"
                              class="text-body"
                              >{{this.product_id.name}}</a
                            >
                            <br />
                            <small class="me-2"
                              ><b>Category:</b>
                              {{this.product_id.category_id.name}}</small
                            >
                            <small
                              ><b>Brand:</b> {{this.product_id.brand_id.name}}
                            </small>
                          </p>
                        </td>
                        <td class="fw-bold">
                          {{moment this.dateReturn 'lll'}}
                        </td>
                        {{#if this.isApproved}}
                        <td class="fw-bold">
                          {{moment this.approve_date 'lll'}}
                        </td>
                        {{else}}
                        <td>Not yet approved</td>
                        {{/if}}

                        <td class="fw-bold text-danger">
                           {{ this.note}}
                        </td>
                        <td class="fw-bolder">{{comma this.qty}}</td>
                        <td class="fw-bolder">
                          {{this.approve_user_id.firstname}}
                          {{this.approve_user_id.lastname}}
                        </td>
                        <td class="font-16">
                          <span
                            class="badge {{#ifCond this.status '===' 'request'}}bg-danger{{else}}bg-success{{/ifCond}}"
                            >{{this.status}}</span
                          >
                        </td>
                      
                        <td class="text-center">
                          {{#if this.isApproved}}
                          <span>Already Confirmed</span>
                          {{else}}
                          <a class="text-danger action-icon" onclick="approved(`{{this._id}}`)"> <i class="mdi mdi-thumb-up"></i></a>
                          {{/if}}
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end card-body-->
            </div>
            <!-- end card-->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- container -->
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<div
  id="return_approved"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center my-4">
          <span
            ><img src="/assets/images/logo-dark.png" alt="" height="18"
          /></span>
        </div>
        <form action="/admin/return/confirm" method="POST">
          <h3 class="text-center mb-2">Do you really wish to confirm the return of this item?
          </h3>
          <div class="mb-3 text-center">
            <input type="text" name="sales_id" id="sales_id" hidden>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function approved(id) {
    console.log('id', id);
    $("#sales_id").val(id);
    $(`#return_approved`).modal("show");
}
</script>
<script>
  function PrintElem(elem) {
      var restorepage = $('body').html();
      var printcontent = $('#' + elem).clone();
      $('body').empty().html(printcontent);
      window.print();
      $('body').html(restorepage);
      window.location.href = "/admin/return?message=Print successfully !!&alert=success";
  }
</script>