<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu p-0">

  <div class="h-100 pt-2" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-item">
        <a
          href="/client/dashboard"
          class="side-nav-link {{#if dashboard}}customize-active{{/if}}"
        >
          <i class="uil-home-alt"></i>
          <span> Dashboard</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/client/products"
          class="side-nav-link {{#if products-acgive}}customize-active{{/if}}"
        >
          <i class="mdi mdi-cart-outline"></i>
          <span> Products </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a
          href="/client/returns"
          class="side-nav-link {{#if return-sales}}customize-active{{/if}}"
        >
          <i class="mdi mdi-clipboard-arrow-left"></i>
          <span> Return </span>
        </a>
      </li>
    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
